.idea/

### Linux ###
*~
.fuse_hidden*
.Trash-*
.nfs*


### macOS ###
.DS_Store
._*

# Icon must end with two \r
Icon


###########################


### Windows ###
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk
